@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200&family=Open+Sans:wght@700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #0c0ce94d;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #6b63fff1;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;

}
.rowCenter {
    padding: 5px;
    margin: 100px auto;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 6px #0000001c; 
    
}

.input-box {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    width: 50%;   
}

.input-box input {
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c; 
    padding: 0.5rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.continue-button button {
    margin-top: 2.5rem,;
    border: none;
    border-radius: 10px;
    background-color: #6c63ff;
    padding: 0.60rem;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.90rem;
    font-weight: 500;
    color: #fff;
} 

